@import url('https://fonts.googleapis.com/css?family=Exo:400,700'); /* code author: Mohammad Abdul Mohaiman ;February 25, 2018 */

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:30vh;

}

.context h1{
    /* text-align: center; */
    color: #fff;
    font-size: 100px;
    text-shadow: 2px 2px #7F7D87;
    letter-spacing: 5px;
    font-family: 'AlegreyaRegular' serif;
    font-weight: normal;
    font-style: normal;
}
.context h5 {
  /* text-align: center; */
  color: #B4B2BA;
  font-size: 75px;
  letter-spacing: 5px;
  font-family: 'AlegreyaRegular' serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 10px;
  text-shadow: .5px .5px white;
}


.area{
    background: #9C7AFF;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;


}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

html, body {
           height: 100%;
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }
        body {
          display: table;
           width: 100%;
           height: 100%;
           max-height: 100%;
           margin: 0;
           padding: 0;
           background-color: #DCD1FC;

           background-size:100% 100%;
           background-repeat: no-repeat fixed center;
           align-items: center;
           font-size: 20px;
           font-family: 'AlegreyaRegular';
  }

  .topnav {
    background-color: #B5B5B5;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #a96be3;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8307f5;
    color: white;
  }

  .parallax1 {
    /* The image used */
    background-image: url("https://hewlett.org/wp-content/uploads/2018/01/hands-2082x1171.jpg");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("https://knowledge.wharton.upenn.edu/wp-content/uploads/2018/05/2018-05-14-diversity.jpg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax3 {
  /* The image used */
  background-image: url("https://prod-marketing-greenhouse.global.ssl.fastly.net/blog-assets/handprints_blog.jpeg?mtime=20160407112052");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(149, 101, 240); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.intro {
  height:500px;
  background-color: #DCD1FC;
}

.big {
  font-family: 'AlegreyaRegular', serif;
  font-weight: bold;
  font-style: oblique;
  font-size:  40px;
}

.beg1 {
font-family: 'AlegreyaRegular';
font-weight: normal;
font-style: normal;
font-size:  25px;

}

.beg2 {
  font-family: 'AlegreyaRegular';
  font-weight: normal;
  font-style: normal;
  font-size:  29px;
  color: #5A426C;
}

.title {
  font-family: 'AlegreyaRegular';
  letter-spacing: 3px;
  font-weight: normal;
  font-style: normal;
  font-size:  50px;
}

.what {
  font-family: 'AlegreyaRegular';
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
  font-size:  40px;
}

.definition {
  font-family: 'AlegreyaRegular';
  font-weight: normal;
  font-style: normal;
  font-size:  31px;
  color: #11035A;
}

.unity {
  font-family: 'AlegreyaRegular';
  font-weight: normal;
  font-style: normal;
  font-size:  32px;
  color: #5A426B;
}
.invite {
  font-family: 'AlegreyaRegular';
  font-weight: normal;
  font-style: normal;
  font-size:  32px;
  color: #C4224C;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: none;
  /* background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%); */
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'AlegreyaRegular', sans-serif;
  text-align: center;
  white-space: nowrap;
}
/*
#section01 { background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;}
#section02 { background: url(https://picsum.photos/1200/800?image=1016) center center / cover no-repeat;}
#section03 { background: url(https://picsum.photos/1200/800?image=869) center center / cover no-repeat;}
#section04 { background: url(https://picsum.photos/1200/800?image=506) center center / cover no-repeat;}
#section05 { background: url(https://picsum.photos/1200/800?image=1037) center center / cover no-repeat;}
#section06 { background: url(https://picsum.photos/1200/800?image=901) center center / cover no-repeat;}
#section07 { background: url(https://picsum.photos/1200/800?image=675) center center / cover no-repeat;}
#section08 { background: url(https://picsum.photos/1200/800?image=1050) center center / cover no-repeat;}
#section09 { background: url(https://picsum.photos/1200/800?image=902) center center / cover no-repeat;}
#section10 { background: url(https://picsum.photos/1200/800?image=516) center center / cover no-repeat;} */


.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}




#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
